<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- Устанавливаем кодировку документа как UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Обеспечиваем адаптацию страницы под различные устройства -->
    <title>Ощепков Дмитрий Владимирович</title>
    <!-- Заголовок страницы, отображаемый в браузере -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Подключаем внешний файл CSS -->
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <!-- Контейнер для содержимого страницы -->
        <header>
            <!-- Заголовок страницы -->
            <h1>Ощепков Дмитрий Владимирович</h1>
            <!-- Основной заголовок с именем -->
            <p>Стажер</p>
            <!-- Описание должности или профессии -->
        </header>
        <main>
            <!-- Основной контент страницы -->
            <section class="about">
                <!-- Секция "Обо мне" -->
                <h2>Обо мне</h2>
                <!-- Заголовок секции -->
                <p>
                Университет: РУДН
                <br>
                Курс: 3
                <br>
                Направление: Фундаментальная информатика и информационные технологии
                </p>
                <!-- Описание себя -->
            </section>
            <section class="contact">
                <!-- Секция "Контакты" -->
                <h2>Контакты</h2>
                <!-- Заголовок секции -->
                <ul>
                    <!-- Список контактов -->
                    <li>Телефон: +8 977 679 46 97 </li>
                    <!-- Телефон -->
                    <li>Email: doshchepkov2004@gmail.com</li>
                    <!-- Email -->
                    <li>Адрес: Москва, Россия</li>
                    <!-- Адрес -->
                </ul>
            </section>
        </main>
    </div>
    <h2 class="perceptron"><span class="arrow">&#10148;</span> <a href="{{ url_for('perceptron') }}">Перцептрон</a></h2>
    
    <!-- Заголовок с ссылкой на страницу перцептрона -->
</body>
</html>





