<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перцептрон</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
    <h1>Перцептрон 1.0</h1>
    <canvas id="drawingCanvas" width="280" height="280" style="border:1px solid #000000;"></canvas>
    <br>
    <button id="predictButton">Predict</button>
    <button id="clearButton">Clear</button>
    <p id="predictionResult"></p>
</body>
</html>